appdirs
https://github.com/Anshusharma75/jhamak/archive/refs/heads/master.zip
psycopg2
beautifulsoup4
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
js2py
lk21
lxml
megasdkrestclient
psutil
pybase64
hachoir
pillow
filesplit
https://github.com/root-test7/speedy/archive/refs/heads/master.zip
cfscrape
Pyrogram
python-dotenv
python-magic
python-telegram-bot
requests
telegraph
tenacity
TgCrypto
https://github.com/root-test7/qbapi/archive/refs/heads/comprehensive_tests.zip
https://github.com/root-test7/ttool1.10/archive/refs/heads/master.zip
https://github.com/Anshusharma75/prabhu/archive/refs/heads/master.zip
urllib3
gunicorn
anytree
